* {
  margin: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "Roboto", sans-serif;
  src: url(Satoshi-Variable.ttf);
} */

:root {
  --highlight-color: #ef5966;
  --primary-color: black;
  --secondary-color: white;
  --psyche-grad: linear-gradient(90deg,rgba(51, 33, 69, 1) 0%, rgba(177, 67, 93, 1) 33%, rgba(239, 97, 90, 1) 66%, rgba(249, 157, 3, 1) 100%);
}

html {
  font-size: calc(16px + 0.5vmax);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-color);
  overflow: scroll;
  margin-bottom: 50px;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: var(--secondary-color);
  padding: 5px 5px;
  /* border-bottom: 7px solid var(--highlight-color); */
  margin-bottom: 5px;
}

/* Style the header links */
.header a {
  float: left;
  color: var(--primary-color);
  /* background-color: var(--highlight-color); */
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  /* outline-style: solid;
  outline-style: 4px;
  outline-color: var(--highlight-color); */
  border-bottom: 4px solid;
  border-image-slice: 1;
  border-image-source: var(--psyche-grad);
  margin: 5px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  background-color: var(--secondary-color);
  font-size: 25px;
  font-weight: bold;
  padding-left: 6px;
  outline-style: none;
  border: none;
}

/* Change the background color on mouse-over */
.header a:hover {
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: var(--psyche-grad);
  margin: 1px;
}

.header a.logo:hover {
  margin: 5px;
  border: none;
}

/* Style the active/current link*/
.header a.active {
  background-color: var(--highlight-color);
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
  margin-top: 10px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

h1 {
  color: var(--primary-color);
  text-align: center;
}

h2 {
  color: var(--primary-color);
}

p {
  color: var(--primary-color);
}

button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  text-align: center;
  padding: 12px;
  margin: 5px;
  margin-top: 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  /* outline-style: solid;
  outline-style: 4px;
  outline-color: var(--highlight-color); */
  border-bottom: 4px solid;
  border-image-slice: 1;
  border-image-source: var(--psyche-grad);
}

button:hover {
  /* background-color: var(--highlight-color);
  color: white; */
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: var(--psyche-grad);
  margin: 1px;
  margin-bottom: 5px;
}

a.button {
  float: left;
  color: var(--primary-color);
  background-color: var(--highlight-color);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  outline-style: solid;
  outline-style: 4px;
  outline-color: var(--highlight-color);
}

a.button:hover {
  background-color: var(--highlight-color);
  color: white;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

video {
  width: 100%;
  height: auto;
}

video.portfolio {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

/* height is equal to the number of frames multiplied by 2.2 and rounded down*/
section.vidScrub {
  height: 1639vh;
  position: relative;
}

section.vidScrub:fullscreen {
  overflow: scroll !important;
}
section.vidScrub:-ms-fullscreen {
  overflow: scroll !important;
}
section.vidScrub:-webkit-full-screen {
  overflow: scroll !important;
}
section.vidScrub:-moz-full-screen {
  overflow: scroll !important;
}

section.vidScrub div.holder {
  position: sticky;
  top: 0;
}

section.vidScrub video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.vidScrub2 {
  height: 2428vh;
  position: relative;
}

section.vidScrub2:fullscreen {
  overflow: scroll !important;
}
section.vidScrub2:-ms-fullscreen {
  overflow: scroll !important;
}
section.vidScrub2:-webkit-full-screen {
  overflow: scroll !important;
}
section.vidScrub2:-moz-full-screen {
  overflow: scroll !important;
}

section.vidScrub2 div.holder {
  position: sticky;
  top: 0;
}

section.vidScrub2 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin-top: 50px;
  border-top: 2px solid var(--highlight-color);
}
